[Desktop Entry]
Encoding=UTF-8
Name=Niobio
GenericName=Niobio wallet
Name[uk]=Карбованeць
Name[ru]=Карбованeц
Name[pl]=Karbowaneć
Name[be]=Карбованэць
Comment=Niobio wallet
Comment[uk]=Гаманець Карбованца
Comment[ru]=Кошелек Карбованца
Comment[pl]=Portfel Karbowańca
Comment[be]=Кашалёк Карбованца
Exec=niobio %U
Terminal=false
Type=Application
Icon=karbowanec
MimeType=x-scheme-handler/karbowanec;
Categories=Office;Finance;
Version=0.0.1
